.photo-grid {
    font-family: 'Inter', Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .photo-grid {
         max-width: 928px;
    }
}

@media (max-width: 768px) {
    .photo-grid {
         max-width: 768px;
         padding: 0 24px;
    }
}

@media (max-width: 1200px) {
    .photo-grid {
         gap: 14px;
    }
}

@media (max-width: 768px) {
    .photo-grid {
         gap: 16px;
         max-width: 703px;
    }
}

@media screen and (max-width: 720px) {
    .photo-grid {
         grid-template-columns: 1fr;
         max-width: 352px;
    }
}

@media screen and (max-width: 420px) {
    .photo-grid {
        max-width: 288px;
        padding: 0 16px;
    }
}