.content-container-header {
    max-width: 1184px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    background: #2A2C2F;
    box-sizing: content-box;
    overflow: hidden;
    padding: 0 48px;
}

@media (max-width: 1200px) {
    .content-container-header {
         max-width: 928px;
    }
}

@media (max-width: 768px) {
    .content-container-header {
         max-width: 768px;
         padding: 0 24px;
    }
}

@media screen and (max-width: 420px) {
    .content-container-header {
         max-width: 576px;
         padding: 0 16px;
    }
}
