.header__nav {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 420px) {
    .header__nav {
         margin-top: 16px;
    }
}