.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .footer__copyright {
         line-height: 14px;
    }
}