@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
         url("../fonts/Inter-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Inter-Bold.woff2") format("woff2"),
         url("../fonts/Inter-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/Inter-Black.woff2") format("woff2"),
         url("../fonts/Inter-Black.woff") format("woff");
  }

  @import url('../vendor/normalize.css');

.page {
     padding-top: 28px;
     padding-bottom: 24px;
     padding-left: 48px;
     padding-right: 48px;
     max-width: 1184px;
     width: 100%;
     margin: 0 auto;
     font-family: 'Inter', Arial, sans-serif;
     background: #2A2C2F;
     box-sizing: content-box;
     overflow: hidden;
}

.header__nav {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
}

.header__lang-links {
     display: flex;
     justify-content: flex-end;
     margin-bottom: 6px;
}

.header__logo {
     max-width: 176px;
     width: 100%;
     aspect-ratio: 176/52;
}

.header__lang-link {
     margin-right: 18px;
     font-weight: 400;
     font-size: 24px;
     line-height: 28px;
     color: white;
     text-decoration: none;
}

.header__lang-link:first-child {
     text-decoration-line: underline;
}

.header__lang-link:last-child {
     margin-right: 0;
}

.header__title {
     font-weight: 900;
     font-size: 96px;
     line-height: 104%;
     text-align: center;
     color: white;
     max-width: 720px;
     width: 100%;
     aspect-ratio: 3.6;
     margin: 56px auto 0;
}

.header__subtitle {
     font-weight: 400;
     font-size: 30px;
     line-height: 120%;
     text-align: center;
     color: #FFFFFF;
     margin: 32px auto 0;
     max-width: 640px;
     width: 100%;
     aspect-ratio: 640/72;
}

.header__main-illustration {
     display: block;
     max-width: 984px;
     width: 100%;
     aspect-ratio: 1.6;
     margin: 64px auto 0;
}

.header__caption {
     max-width: 984px;
     width: 100%;
     font-weight: 400;
     font-size: 10px;
     line-height: 140%;
     letter-spacing: 1.5px;
     text-transform: uppercase;
     color: #FFFFFF;
     margin: 8px auto 0;
}

.intro {
     font-family: 'Inter', Arial, sans-serif;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     max-width: 984px;
     width: 100%;
     margin: 92px auto;
     color: white;
}

.intro__title {
     font-weight: 900;
     font-size: 54px;
     line-height: 107%;
     margin: 0;
}

.intro__text {
     font-weight: 400;
     font-size: 16px;
     line-height: 163%;
     max-width: 690px;
     width: 100%;
     margin-top: 40px;
     margin-bottom: 33px;
}

.intro__list {
     list-style: none;
     margin: 0;
     padding: 0;
}

.intro__statistic {
     font-weight: 700;
     font-size: 12px;
     line-height: 150%;
     display: flex;
}

.intro__statistic-number {
     font-weight: 400;
     font-size: 12px;
     line-height: 150%;
     margin: 0;
}

.photo-grid {
     font-family: 'Inter', Arial, sans-serif;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
     grid-template-rows: repeat(3, 213px);
     gap: 16px;
     max-width: 1184px;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
}

.photo-grid__item {
     width: 284px;
     aspect-ratio: 4/3;
}

/* =================================================================

.place {
     font-family: 'Inter', Arial, sans-serif;
     margin-top: 80px;
     color: white;
     display: flex;
     max-width: 984px;
     width: 100%;
     height: 660px;
}

.places {
     font-family: 'Inter', Arial, sans-serif;
     margin-bottom: 92px;
     margin-top: 92px;
}

.place__header {
     font-weight: 900;
     font-size: 72px;
     line-height: 106%;
     color: #FFFFFF;
     max-width: 460px;
     width: 100%;
     margin-top: 0;
     margin-bottom: 48px;
}

.place__image {
     max-width: 460px;
     width: 100%;
     aspect-ratio: 1;
}

.place__url-heading {
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 100%;
     letter-spacing: 2px;
     color: #AAAAAA;
     max-width: 484px;
     width: 100%;
     margin-top: 106px;
}

.place__link {
     font-weight: 400;
     font-size: 18px;
     line-height: 122%;
     color: white;
     max-width: 484px;
     width: 100%;
}

.place__paragraph {
     font-weight: 400;
     font-size: 18px;
     line-height: 163%;
     max-width: 484px;
     width: 100%;
     margin-top: 26px;
     margin-bottom: 0px;
}

.place__paragraph:first-of-type {
     margin-top: 48px;
}

.place__content {
     margin-left: 40px;
}

.place_type_strokes-1 {
     height: 584px;
}

.url-heading_strokes_1 {
     margin-top: 30px;
}

 ================================================================= */

.cover {
     font-family: 'Inter', Arial, sans-serif;
     color: white;
     max-width: 1184px;
     width: 100%;
     aspect-ratio: 1.6;
     max-height: 740px;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     box-sizing: border-box;
}

.cover__item::before {
     background: rgba(42, 44, 47, 0.3);
     width: 100%;
     height: 100%;
     z-index: -1;
     position: absolute;
     left: 0;
     top: 0;
     content: '';
}

.cover__item:hover:after {
     background: rgba(42, 44, 47, 0.8);
     width: 100%;
     height: 100%;
     z-index: -1;
     position: absolute;
     left: 0;
     top: 0;
     content: '';
}

.cover__item {
     background-image: url("../images/cover-trains.jpg");
     background-size: contain;
     width: 100%;
     height: 100%;
     position: relative;
     z-index: 1;  
     background-repeat: no-repeat;
     background-size: contain;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.cover__title {
     font-weight: 900;
     font-size: 72px;
     line-height: 106%;
     text-align: center;
     max-width: 560px;
     width: 100%;
     margin: 0 auto 32px;
}

.cover__subtitle {
     margin-top: 32px;
     font-weight: 400;
     font-size: 18px;
     line-height: 122%;
     text-align: center;
     max-width: 360px;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
}

.cover__link {
     text-decoration: none;
     color: white;
}

.footer {
     font-family: 'Inter', Arial, sans-serif;
     color: white;
     max-width: 1184px;
     width: 100%;
     margin: 92px auto 0;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
}

.footer__link {
     text-decoration: none;
     color: white;
     font-weight: 400;
     font-size: 16px;
     line-height: 112%;
     margin-right: 18px;
}

.footer__copyright {
     font-weight: 400;
     font-size: 14px;
     line-height: 114%;
     margin: 0;
}

.links-hover:hover {
     opacity: 0.8;
}

@media (max-width: 1200px) {
     .page {
          max-width: 928px;
     }
}

@media (max-width: 768px) {
     .page {
          max-width: 768px;
          padding: 28px 24px 24px;
     }
}

@media (max-width: 576px) {
     .cover__title {
          font-size: 32px;
          margin-bottom: 0px;
          max-width: 288px;
          width: 100%;
          text-align: center;
     }

     .cover__subtitle {
          font-size: 14px;
          margin-top: 16px;
          margin-bottom: 0;
          max-width: 288px;
          width: 100%;
          text-align: center;
     }

     .page {
          max-width: 320px;
          padding: 0;
     }
}

@media (max-width: 320px) {
     
}

.places {
     font-family: 'Inter', Arial, sans-serif;
     margin-bottom: 92px;
     margin-top: 92px;
}

.place {
     font-family: 'Inter', Arial, sans-serif;
     margin-top: 80px;
     color: white;
     display: grid;
     grid-template-columns: 460px 1fr;
     gap: 48px 40px;
     max-width: 984px;
     width: 100%;
     margin: 80px auto;
}

.place__header {
     font-weight: 900;
     font-size: 72px;
     line-height: 106%;
     color: #FFFFFF;
     margin: 0;
}

.place__par {
     margin: 0 0 26px;
}

.place__image {
     width: 100%;
     object-fit: cover;
}

.place__url-heading {
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 100%;
     letter-spacing: 2px;
     color: #AAAAAA;
}

.place__link {
     font-weight: 400;
     font-size: 18px;
     line-height: 122%;
     color: white;
}

.place__links {
     align-self: end;
     display: grid;
     gap: 12px;
}

.place__paragraph {
     font-weight: 400;
     font-size: 18px;
     line-height: 163%;
     margin: 0;
}

@media screen and (max-width: 1024px) {
     .place {
          grid-template-columns: 440px 1fr;
          gap: 48px 32px;
     }
}

@media screen and (max-width: 920px) {
     .place {
          grid-template-columns: 340px 1fr;
          gap: 48px 28px;
     }
}

@media screen and (max-width: 720px) {
     .place {
          grid-template-columns: 1fr;
     }
}