.lead__caption {
    max-width: 984px;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 8px auto 0;
}

@media (max-width: 768px) {
    .lead__caption {
         margin-left: 24px;
         max-width: 720px;
    }
}

@media screen and (max-width: 420px) {
    .lead__caption {
         font-size: 10px;
         line-height: 14px;
         max-width: 170px;
         margin-left: 16px;
    }
}