.place__url-heading {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    text-transform: uppercase;
}

@media screen and (max-width: 420px) {
    .place__url-heading {
         margin-left: 16px;
    }
}